@if (form) {
  <form [formGroup]="form" (ngSubmit)="guardar()">

    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombre" placeholder="Huevos rotos" formControlName="nombre">
    </div>

    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripción</label>
      <textarea class="form-control" id="descripcion" rows="3" formControlName="descripcion"></textarea>
    </div>

    <div class="mb-3">
      <label for="precio" class="form-label">Precio</label>
      <input type="number" class="form-control" id="precio" placeholder="6" formControlName="precio">
    </div>

    <div class="mb-3">
      <label for="imagen" class="form-label">Imagen</label>
      <input type="url" class="form-control" id="imagen" placeholder="https://..." formControlName="imagen">
    </div>

    <fieldset>
      <legend>Ingredientes</legend>

      @for (ingrediente of ingredientes; track $index) {
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [value]="ingrediente" [id]="ingrediente" (change)="toggleIngrediente($event)" [checked]="listaIngredientes.includes(ingrediente)">
          <label class="form-check-label" [for]="ingrediente">
            {{ingrediente}}
          </label>
        </div>
      }

    </fieldset>

    <div class="mb-3">
      <button type="submit" class="btn btn-primary mb-3" [disabled]="form.invalid">Guardar</button>
    </div>

  </form>
}