<div class="d-flex">

  <div>
    <app-sugus [color]="sugusFresa.color" [sabor]="sugusFresa.sabor"></app-sugus>
    <button type="button" (click)="addSugusToCart(sugusFresa)">+</button>
  </div>

  <div>
    <app-sugus [color]="sugusNaranja.color" [sabor]="sugusNaranja.sabor"></app-sugus>
    <button type="button" (click)="addSugusToCart(sugusNaranja)">+</button>
  </div>

  <div>
    <app-sugus [color]="sugusPinya.color" [sabor]="sugusPinya.sabor"></app-sugus>
    <button type="button" (click)="addSugusToCart(sugusPinya)">+</button>
  </div>

  <div>
    <app-sugus [color]="sugusLimon.color" [sabor]="sugusLimon.sabor"></app-sugus>
    <button type="button" (click)="addSugusToCart(sugusLimon)">+</button>
  </div>

</div>

<!-- <input type="text" (change)="">
<input type="number" (change)=""> -->