@if (plato) {
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="plato.imagen" class="img-fluid rounded-start" alt="">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{plato.nombre}}</h5>
          <p class="card-text">{{plato.descripcion}}</p>
          <p class="card-text"><small class="text-body-secondary">{{alergenos}}</small></p>
        </div>
        <div class="card-footer">
          <a [routerLink]="['/plato', plato.id]">Ver plato</a>
        </div>
      </div>
    </div>
  </div>
}