table {
  border-collapse: collapse;
}
.filaPar {
  background-color: lightgray;
}
.primeraFila {
  border-top: 1px solid black;
}
.ultimaFila {
  border-bottom: 1px solid black;
}
/* .clase */
/* #id */
/* table */